<link rel="stylesheet" type="text/css" href="../public/css/header.css">
<nav1>
    <div class="wrap">
        <div id="logo">
            <a href='/'>
                <p>
                <span class="name" id="mainname">
                    Vingo</span>
                </p>
            </a>
        </div>
        <ul id="menu">
            <li><a href="/hashtag">hashtag</a></li>
            <li><a href="/user">user</a></li>
            <li><a href="/posts">posts</a></li>
            <li><a href="/admin">admin</a></li>
        </ul>
    </div>
</nav1>