<link rel="stylesheet" type="text/css" href="../public/main.css">
<html>
<body>
<h1 id="title">Insta Auto Follow</h1>
<form method="post" action="/follow">
    <input type = 'text' name = 'url' id = 'url' placeholder="https://www.instagram.com/p/Qweqq_5d/">
    <input type = 'submit' id = 'submit' value = 'GET'>
    <input type = 'text' name = 'id' placeholder="Insta id" class = 'acc'>
    <input type = 'text' name = 'password' placeholder="Insta pass" class = 'acc2'>
</form>
</body>
</html