
<html>
<% include header%>
<body>
<h1 id="title">Insta Auto Follow</h1>
<form method="post" action="/follow">
    <input type = 'text' name = 'url' id = 'url' placeholder="https://www.instagram.com/p/Qweqq_5d/">
    <input type = 'submit' id = 'submit' value = 'GET'>
</form>
</body>
</html>