* {
    font-family: Aileron;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
a{
    text-decoration: none;
}
.blank {
    display: block;
    width: 100%;
    height: 90px;
}

nav1 {

    margin-top:-10px;
    margin-left:-10px;
    margin-right:-10px;
    box-sizing: content-box;
    z-index: 100;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    border-bottom: 2px gold solid;
    background-color: #08040a;
}

nav1 .wrap {
    display: inline-block;
    width: 1200px;
    height: 100%;
    margin: 0 10vw;
    display: block;
}

#logo {
    background-image: url('../img/logo.png');
    margin-top:0;
    float: left;
    margin-left: 0px;
    height: 100%;
    width: 150px;
}

#logo a {
    float: left;
    display: block;
}

#logo p {
    margin-top:0px;
    padding-top: 32px;
}

#logo p span.name {
    display: block;
    color: gold;
}

#mainname {
    line-height: 26px;
    font-size: 26px;
}

#logo p span.subname {

    display: block;
    color: #4c4c4c;
    font-size: 24px;
    line-height: 24px;
}

#menu {
    margin-top:0;
    width: 800px;
    position: absolute;
    margin-left: 300px;
}
#menu li {
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 80px;
    list-style: none;
    height: 80px;
}

#menu li a {
    font-size: 18px;
    color: gold
}

#account{
    float:right;
    height: 100%;
}

#menu li h5 {
    color: gray;
    margin: 0 10px 0 0;
    display: inline;
}

.idshow {
    height: 20px;
    color: #333;
    display: inline-block;
}
#login a{
    display: block;
    text-align: center;
    height: 20px;
    padding:32px 10px 3px 3px;
    color: #9c9c9c;
    font-size: 15px;
}
